In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_excel('/content/output.xlsx')

In [ ]:
df.head(10)

   failures  famrel  goout  health  absences  G3  Mental_Health_Index
0         0       4      4       3         4  11             0.664162
1         0       5      3       3         2  11             0.702186
2         0       4      2       3         6  12             0.411202
3         0       3      2       5         0  14             0.304763
4         0       4      2       5         0  13             0.430756
5         0       5      2       5         6  13             0.551411
6         0       4      4       3         0  13             0.430459
7         0       4      4       1         2  13             0.410431
8         0       4      2       1         0  17             0.115222
9         0       5      1       5         0  13             0.436219

In [ ]:
df['Mental_Health_Index'] = np.where(df['Mental_Health_Index'] < 0.5, 0, df['Mental_Health_Index']) #Bad

In [ ]:
df['Mental_Health_Index'] = np.where(df['Mental_Health_Index'] == 0.5, 1, df['Mental_Health_Index']) #Neutral

In [ ]:
df['Mental_Health_Index'] = np.where(df['Mental_Health_Index'] > 0.5, 2, df['Mental_Health_Index']) #Good

In [ ]:
df.head()

   failures  famrel  goout  health  absences  G3  Mental_Health_Index
0         0       4      4       3         4  11                  2.0
1         0       5      3       3         2  11                  2.0
2         0       4      2       3         6  12                  0.0
3         0       3      2       5         0  14                  0.0
4         0       4      2       5         0  13                  0.0

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [ ]:
X = df.drop(['Mental_Health_Index'],axis=1)
y = df['Mental_Health_Index']

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [ ]:
rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [ ]:
y_pred = rfc.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.0       0.87      0.95      0.91        76
         2.0       0.91      0.80      0.85        54

    accuracy                           0.88       130
   macro avg       0.89      0.87      0.88       130
weighted avg       0.89      0.88      0.88       130

In [ ]:
log_reg = LogisticRegression()
log_reg.fit(X_train,y_train)

LogisticRegression()

In [ ]:
y_pred_log = log_reg.predict(X_test)

In [ ]:
print(classification_report(y_test,y_pred_log))

              precision    recall  f1-score   support

         0.0       0.58      0.87      0.70        76
         2.0       0.41      0.13      0.20        54

    accuracy                           0.56       130
   macro avg       0.50      0.50      0.45       130
weighted avg       0.51      0.56      0.49       130

In [ ]:
from sklearn.naive_bayes import BernoulliNB
bnb = BernoulliNB()
bnb.fit(X_train,y_train)
y_pred_bnb = bnb.predict(X_test)

In [ ]:
print(classification_report(y_test,y_pred_bnb))

              precision    recall  f1-score   support

         0.0       0.58      1.00      0.74        76
         2.0       0.00      0.00      0.00        54

    accuracy                           0.58       130
   macro avg       0.29      0.50      0.37       130
weighted avg       0.34      0.58      0.43       130

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(X_train,y_train)
y_pred_dtc = dtc.predict(X_test)

In [ ]:
print(classification_report(y_test,y_pred_dtc))

              precision    recall  f1-score   support

         0.0       0.87      0.88      0.88        76
         2.0       0.83      0.81      0.82        54

    accuracy                           0.85       130
   macro avg       0.85      0.85      0.85       130
weighted avg       0.85      0.85      0.85       130

In [ ]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train,y_train)
y_pred_svc = svc.predict(X_test)

In [ ]:
print(classification_report(y_test,y_pred_svc))

              precision    recall  f1-score   support

         0.0       0.72      0.93      0.81        76
         2.0       0.84      0.48      0.61        54

    accuracy                           0.75       130
   macro avg       0.78      0.71      0.71       130
weighted avg       0.77      0.75      0.73       130